/* base class */
.icon {
    display: inline-block;
    font: normal normal normal 1em/1 'icons';
    color: inherit;
    flex-shrink: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* icons */
.icon-download::before {
    content: "\ea02";
}

.icon-location::before {
    content: "\ea03";
}

.background_base {
    background: url(../img/BG.png) no-repeat;
    background-size: cover;
    position: absolute;
    width: 110%;
    min-height: 110%;
    left: -5%;
    top: -5%;
    opacity: 0.75;
}

.sun {
    background-image: url(../img/Sun.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(1400px / 1.5);
    height: calc(1400px / 1.5);
    position: absolute;
    left: 20%;
    top: -22.5%;
    opacity: 1.0;
}

.mumma {
    background-image: url(../img/Mumma.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* width: calc(543px / 1.25);
    height: calc(884px / 1.25); */
    width: 120%;
    height: 120%;
    position: absolute;
    left: -12.5%;
    bottom: -16%;
    opacity: 1.0;
}

.dadda {
    background-image: url(../img/Dadda.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* width: calc(543px / 1.25);
    height: calc(884px / 1.25); */
    width: 120%;
    height: 120%;
    position: absolute;
    right: -60%;
    bottom: -15%;
    opacity: 1.0;
}

.baby {
    background-image: url(../img/Baby.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    min-height: 90%;
    position: absolute;
    bottom: -35%;
    left: 5%;
}

.dadda_hug {
    background-image: url(../img/Dadda_Hug.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* width: calc(543px / 1.25);
    height: calc(884px / 1.25); */
    width: 80%;
    height: 80%;
    position: absolute;
    right: -20%;
    bottom: -20%;
    opacity: 1.0;
}

.mumma_hug {
    background-image: url(../img/Mumma_Hug.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* width: calc(543px / 1.25);
    height: calc(884px / 1.25); */
    width: 80%;
    height: 80%;
    position: absolute;
    left: -20%;
    bottom: -20%;
    opacity: 1.0;
}

.star__1 {
    background-image: url(../img/3d/star.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px / 3);
    height: calc(512px / 3);
    left: 5%;
    top: 5%;
    position: absolute;
}

.circ_purp__1 {
    background-image: url(../img/3d/circ_purp.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px / 3);
    height: calc(512px / 3);
    left: 25%;
    top: 25%;
    position: absolute;
}

.cubical__1 {
    background-image: url(../img/3d/cubical.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px / 2);
    height: calc(512px / 2);
    left: 5%;
    bottom: 6%;
    position: absolute;
}

.tetra__1 {
    background-image: url(../img/3d/Tetra.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px / 2.5);
    height: calc(512px / 2.5);
    right: 15%;
    top: 8%;
    position: absolute;
}

.heart__1 {
    background-image: url(../img/3d/heart_yellow.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px / 2.5);
    height: calc(512px / 2.5);
    right: 25%;
    top: 35%;
    position: absolute;
}

.diamond__1 {
    background-image: url(../img/3d/diamond_red.avif);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px / 2.5);
    height: calc(512px / 2.5);
    right: 10%;
    bottom: 5%;
    position: absolute;
}


.text_center {
    width: 100%;
    text-align: center;
}

.text_first {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    color: #322E55;
    position: absolute;
    top: 10%;
}

.name_first {
    -webkit-font-smoothing: antialiased;
    font-family: "Samantha Upright";
    font-size: 5em;
    color: #322E55;
    position: absolute;
    top: 12%;
}

.and {
    -webkit-font-smoothing: antialiased;
    font-family: "Samantha Upright";
    font-size: 2em;
    color: #322E55;
    opacity: 1.0;
    position: absolute;
    top: 22%;
}

.name_second {
    -webkit-font-smoothing: antialiased;
    font-family: "Samantha Upright";
    font-size: 3.8em;
    color: #322E55;
    position: absolute;
    top: 25%;
}

.text_second {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #322E55;
    position: absolute;
    top: 35%;
}

.text_day {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #322E55;
    position: absolute;
    top: 38%;
}

.text_date {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #322E55;
    position: absolute;
    top: 41%;
}

.text_time {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    color: #322E55;
    position: absolute;
    top: 47%;
}

.text_venue {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 2.0em;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #322E55;
    position: absolute;
    top: 72%;
}

.text_address {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    line-height: 1.0em;
    color: #322E55;
    position: absolute;
    top: 77%;
}

.text_footnote {
    -webkit-font-smoothing: antialiased;
    font-family: 'Quesha', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #322E55;
    opacity: 1.0;
    position: absolute;
    top: 70%;
}

#bubble-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.vines-swing-8s {
    -webkit-animation: vines 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: vines 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: vines 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.vines-swing-7s {
    -webkit-animation: vines 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: vines 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: vines 7s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.vines-swing-6s {
    -webkit-animation: vines 6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: vines 6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: vines 6s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.vines-swing-5s {
    -webkit-animation: vines 5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: vines 5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: vines 5s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.about .panel header:before {
    background-size: calc(416px/1.5) calc(309px/1.5);
}

@keyframes vines {
    0% {
        -webkit-transform: translate3d(10%, 0, 0) rotateZ(5deg);
        -moz-transform: translate3d(10%, 0, 0) rotateZ(5deg);
        transform: translate3d(10%, 0, 0) rotateZ(5deg);
    }

    100% {
        -webkit-transform: translate3d(-10%, 0, 0) rotateZ(-5deg);
        -moz-transform: translate3d(-10%, 0, 0) rotateZ(-5deg);
        transform: translate3d(-10%, 0, 0) rotateZ(-5deg);
    }
}

.shape-swing-10s {
    -webkit-animation: swinger 10s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swinger 10s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swinger 10s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.shape-swing-8s {
    -webkit-animation: swinger 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swinger 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swinger 8s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes swinger {
    0% {
        -webkit-transform: translate3d(3%, 0, 0) rotateZ(3deg);
        -moz-transform: translate3d(3%, 0, 0) rotateZ(3deg);
        transform: translate3d(3%, 0, 0) rotateZ(3deg);
    }

    100% {
        -webkit-transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
        -moz-transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
        transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
    }
}

.effect-pulse {
    -webkit-animation: pulse 1.5s ease infinite;
    -moz-animation: pulse 1.5s ease infinite;
    animation: pulse 1.5s ease infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.25);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.25);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

/* Media Query */
/* X-Small devices (portrait phones) */
@media only screen and (max-width: 320px) and (orientation:portrait) {
    .mumma {
        background-image: url(../img/Mumma.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 4);
        height: calc(1500px / 4);
        position: absolute;
        left: -20%;
        bottom: -2.5%;
        opacity: 1.0;
    }


    .dadda {
        background-image: url(../img/Dadda.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 4);
        height: calc(1500px / 4);
        position: absolute;
        right: -20%;
        bottom: -2.5%;
        opacity: 1.0;
    }

    .baby {
        background-image: url(../img/Baby.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1800px / 4);
        height: calc(800px / 4);
        position: absolute;
        bottom: -67%;
        left: -10%;
    }

    .dadda_hug {
        background-image: url(../img/Dadda_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 3);
        height: calc(600px / 3);
        position: absolute;
        right: -12%;
        bottom: -5%;
        opacity: 1.0;
    }

    .mumma_hug {
        background-image: url(../img/Mumma_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 3);
        height: calc(600px / 3);
        position: absolute;
        left: -20%;
        bottom: -5%;
        opacity: 1.0;
    }

    .star__1 {
        background-image: url(../img/3d/star.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 5%;
        top: 5%;
        position: absolute;
    }

    .circ_purp__1 {
        background-image: url(../img/3d/circ_purp.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 10%;
        top: 38%;
        position: absolute;
    }

    .cubical__1 {
        background-image: url(../img/3d/cubical.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 3%;
        bottom: 15%;
        position: absolute;
    }

    .tetra__1 {
        background-image: url(../img/3d/Tetra.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 5%;
        top: 12%;
        position: absolute;
    }

    .heart__1 {
        background-image: url(../img/3d/heart_yellow.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 12%;
        top: 53%;
        position: absolute;
    }

    .diamond__1 {
        background-image: url(../img/3d/diamond_red.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 5%;
        bottom: 3%;
        position: absolute;
    }

    .text_center {
        width: 100%;
        text-align: center;
    }

    .text_first {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #322E55;
        position: absolute;
        top: 15%;
    }

    .name_first {
        font-family: "Samantha Upright";
        font-size: 4.5em;
        color: #322E55;
        position: absolute;
        top: 18%;
    }

    .and {
        font-family: "Samantha Upright";
        font-size: 2em;
        color: #322E55;
        opacity: 10.0;
        position: absolute;
        top: 27%;
    }

    .name_second {
        font-family: "Samantha Upright";
        font-size: 3.8em;
        color: #322E55;
        position: absolute;
        top: 31%;
    }

    .text_second {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 45%;
    }

    .text_day {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 48%;
    }

    .text_date {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 50%;
    }

    .text_time {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 53%;
    }

    .text_venue {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 62%;
    }

    .text_address {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        letter-spacing: 0.1em;
        line-height: 1.0em;
        color: #322E55;
        position: absolute;
        top: 65%;
    }

    .text_footnote {
        font-family: 'Quesha', sans-serif;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        color: #322E55;
        opacity: 1.0;
        position: absolute;
        top: 60%;
    }
}

/* Small devices (Portrait phones) */
@media only screen and (min-width: 320.02px) and (max-width: 460px) and (orientation:portrait) {

    .sun {
        background-image: url(../img/Sun.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1400px / 3);
        height: calc(1400px / 3);
        position: absolute;
        left: -8%;
        top: 2%;
        opacity: 1.0;
    }

    .mumma {
        background-image: url(../img/Mumma.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 4);
        height: calc(1500px / 4);
        position: absolute;
        left: -20%;
        bottom: -2.5%;
        opacity: 1.0;
    }


    .dadda {
        background-image: url(../img/Dadda.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 4);
        height: calc(1500px / 4);
        position: absolute;
        right: -20%;
        bottom: -2.5%;
        opacity: 1.0;
    }

    .baby {
        background-image: url(../img/Baby.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1800px / 4);
        height: calc(800px / 4);
        position: absolute;
        bottom: -67%;
        left: -10%;
    }

    .dadda_hug {
        background-image: url(../img/Dadda_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 3);
        height: calc(600px / 3);
        position: absolute;
        right: -12%;
        bottom: -5%;
        opacity: 1.0;
    }

    .mumma_hug {
        background-image: url(../img/Mumma_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 3);
        height: calc(600px / 3);
        position: absolute;
        left: -20%;
        bottom: -5%;
        opacity: 1.0;
    }

    .star__1 {
        background-image: url(../img/3d/star.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 5%;
        top: 5%;
        position: absolute;
    }

    .circ_purp__1 {
        background-image: url(../img/3d/circ_purp.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 10%;
        top: 38%;
        position: absolute;
    }

    .cubical__1 {
        background-image: url(../img/3d/cubical.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 3%;
        bottom: 5%;
        position: absolute;
    }

    .tetra__1 {
        background-image: url(../img/3d/Tetra.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 5%;
        top: 3%;
        position: absolute;
    }

    .heart__1 {
        background-image: url(../img/3d/heart_yellow.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 12%;
        top: 53%;
        position: absolute;
    }

    .diamond__1 {
        background-image: url(../img/3d/diamond_red.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 5%;
        bottom: 3%;
        position: absolute;
    }

    .text_center {
        width: 100%;
        text-align: center;
    }

    .text_first {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #322E55;
        position: absolute;
        top: 15%;
    }

    .name_first {
        font-family: "Samantha Upright";
        font-size: 4.5em;
        color: #322E55;
        position: absolute;
        top: 18%;
    }

    .and {
        font-family: "Samantha Upright";
        font-size: 2em;
        color: #322E55;
        opacity: 10.0;
        position: absolute;
        top: 27%;
    }

    .name_second {
        font-family: "Samantha Upright";
        font-size: 3.8em;
        color: #322E55;
        position: absolute;
        top: 31%;
    }

    .text_second {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 45%;
    }

    .text_day {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 48%;
    }

    .text_date {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 50%;
    }

    .text_time {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 53%;
    }

    .text_venue {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 62%;
    }

    .text_address {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        letter-spacing: 0.1em;
        line-height: 1.0em;
        color: #322E55;
        position: absolute;
        top: 65%;
    }

    .text_footnote {
        font-family: 'Quesha', sans-serif;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        color: #322E55;
        opacity: 1.0;
        position: absolute;
        top: 60%;
    }
}

/* Tablet devices */
@media only screen and (min-width: 460.02px) and (max-width: 768px) and (orientation:portrait) {
    .mumma {
        background-image: url(../img/Mumma.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 2);
        height: calc(1500px / 4);
        position: absolute;
        left: -20%;
        bottom: -2.5%;
        opacity: 1.0;
    }


    .dadda {
        background-image: url(../img/Dadda.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 4);
        height: calc(1500px / 4);
        position: absolute;
        right: -20%;
        bottom: -2.5%;
        opacity: 1.0;
    }

    .baby {
        background-image: url(../img/Baby.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1800px / 4);
        height: calc(800px / 4);
        position: absolute;
        bottom: -67%;
        left: -10%;
    }

    .dadda_hug {
        background-image: url(../img/Dadda_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 3);
        height: calc(600px / 3);
        position: absolute;
        right: -12%;
        bottom: -5%;
        opacity: 1.0;
    }

    .mumma_hug {
        background-image: url(../img/Mumma_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 3);
        height: calc(600px / 3);
        position: absolute;
        left: -20%;
        bottom: -5%;
        opacity: 1.0;
    }

    .star__1 {
        background-image: url(../img/3d/star.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 5%;
        top: 5%;
        position: absolute;
    }

    .circ_purp__1 {
        background-image: url(../img/3d/circ_purp.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 10%;
        top: 38%;
        position: absolute;
    }

    .cubical__1 {
        background-image: url(../img/3d/cubical.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        left: 3%;
        bottom: 10%;
        position: absolute;
    }

    .tetra__1 {
        background-image: url(../img/3d/Tetra.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 5%;
        top: 3%;
        position: absolute;
    }

    .heart__1 {
        background-image: url(../img/3d/heart_yellow.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 12%;
        top: 53%;
        position: absolute;
    }

    .diamond__1 {
        background-image: url(../img/3d/diamond_red.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 5);
        height: calc(512px / 5);
        right: 5%;
        bottom: 3%;
        position: absolute;
    }

    .text_center {
        width: 100%;
        text-align: center;
    }

    .text_first {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        color: #322E55;
        position: absolute;
        top: 15%;
    }

    .name_first {
        font-family: "Samantha Upright";
        font-size: 4.5em;
        color: #322E55;
        position: absolute;
        top: 18%;
    }

    .and {
        font-family: "Samantha Upright";
        font-size: 2em;
        color: #322E55;
        opacity: 10.0;
        position: absolute;
        top: 27%;
    }

    .name_second {
        font-family: "Samantha Upright";
        font-size: 3.8em;
        color: #322E55;
        position: absolute;
        top: 31%;
    }

    .text_second {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 45%;
    }

    .text_day {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 48%;
    }

    .text_date {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 50%;
    }

    .text_time {
        font-family: 'Quesha', sans-serif;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 53%;
    }

    .text_venue {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 62%;
    }

    .text_address {
        font-family: 'Quesha', sans-serif;
        font-size: 1.6em;
        letter-spacing: 0.1em;
        line-height: 1.2em;
        color: #322E55;
        position: absolute;
        top: 65%;
    }

    .text_footnote {
        font-family: 'Quesha', sans-serif;
        font-size: 1.1em;
        letter-spacing: 0.1em;
        color: #322E55;
        opacity: 1.0;
        position: absolute;
        top: 60%;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
    .sun {
        background-image: url(../img/Sun.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1400px / 2);
        height: calc(1400px / 2);
        position: absolute;
        left: 5%;
        top: -3%;
        opacity: 1.0;
    }

    .mumma {
        background-image: url(../img/Mumma.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 2);
        height: calc(1500px / 2);
        position: absolute;
        left: -20%;
        bottom: -5%;
        opacity: 1.0;
    }


    .dadda {
        background-image: url(../img/Dadda.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1500px / 2);
        height: calc(1500px / 2);
        position: absolute;
        right: -10%;
        bottom: -5%;
        opacity: 1.0;
    }

    .baby {
        background-image: url(../img/Baby.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1800px / 2);
        height: calc(800px / 2);
        position: absolute;
        bottom: -60%;
        left: -10%;
    }

    .dadda_hug {
        background-image: url(../img/Dadda_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 2);
        height: calc(600px / 2);
        position: absolute;
        right: -10%;
        bottom: -5%;
        opacity: 1.0;
    }

    .mumma_hug {
        background-image: url(../img/Mumma_Hug.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(1000px / 2);
        height: calc(600px / 2);
        position: absolute;
        left: -10%;
        bottom: -5%;
        opacity: 1.0;
    }

    .star__1 {
        background-image: url(../img/3d/star.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 4);
        height: calc(512px / 4);
        left: 5%;
        top: 5%;
        position: absolute;
    }

    .circ_purp__1 {
        background-image: url(../img/3d/circ_purp.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 4);
        height: calc(512px / 4);
        left: 10%;
        top: 38%;
        position: absolute;
    }

    .cubical__1 {
        background-image: url(../img/3d/cubical.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 3);
        height: calc(512px / 3);
        left: 3%;
        bottom: 10%;
        position: absolute;
    }

    .tetra__1 {
        background-image: url(../img/3d/Tetra.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 4);
        height: calc(512px / 4);
        right: 5%;
        top: 3%;
        position: absolute;
    }

    .heart__1 {
        background-image: url(../img/3d/heart_yellow.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 4);
        height: calc(512px / 4);
        right: 12%;
        top: 53%;
        position: absolute;
    }

    .diamond__1 {
        background-image: url(../img/3d/diamond_red.avif);
        background-repeat: no-repeat;
        background-size: contain;
        width: calc(512px / 4);
        height: calc(512px / 4);
        right: 5%;
        bottom: 3%;
        position: absolute;
    }

    .text_center {
        width: 100%;
        text-align: center;
    }

    .text_first {
        font-family: 'Quesha', sans-serif;
        font-size: 1.4em;
        letter-spacing: 0.2em;
        color: #322E55;
        position: absolute;
        top: 15%;
    }

    .name_first {
        font-family: "Samantha Upright";
        font-size: 5em;
        color: #322E55;
        position: absolute;
        top: 18%;
    }

    .and {
        font-family: "Samantha Upright";
        font-size: 2.5em;
        color: #322E55;
        opacity: 10.0;
        position: absolute;
        top: 27%;
    }

    .name_second {
        font-family: "Samantha Upright";
        font-size: 4em;
        color: #322E55;
        position: absolute;
        top: 31%;
    }

    .text_second {
        font-family: 'Quesha', sans-serif;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 45%;
    }

    .text_day {
        font-family: 'Quesha', sans-serif;
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 48%;
    }

    .text_date {
        font-family: 'Quesha', sans-serif;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 50%;
    }

    .text_time {
        font-family: 'Quesha', sans-serif;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 54%;
    }

    .text_venue {
        font-family: 'Quesha', sans-serif;
        font-size: 1.8em;
        font-weight: bold;
        letter-spacing: 0.1em;
        color: #322E55;
        position: absolute;
        top: 62%;
    }

    .text_address {
        font-family: 'Quesha', sans-serif;
        font-size: 1.8em;
        letter-spacing: 0.1em;
        line-height: 1.0em;
        color: #322E55;
        position: absolute;
        top: 65%;
    }

    .text_footnote {
        font-family: 'Quesha', sans-serif;
        font-size: 1.4em;
        letter-spacing: 0.1em;
        color: #322E55;
        opacity: 1.0;
        position: absolute;
        top: 60%;
    }
}